VITE_KETO_ENV=sandbox
VITE_KETO_FIREBASE_DB_BASE_PROD=https://tasks-c8880-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_KETO_FIREBASE_DB_BASE_SANDBOX=https://taskboard-sandbox-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_USER_TROY_EMAIL=
VITE_USER_KHATRA_EMAIL=
